.section.testimonials{
  margin: 0px auto;
  margin-top: 100px;
  position: relative;
}

.container-testimonials{
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
}

.container-testimonials .left{
  flex: 2;
}

.container-testimonials .right{
  flex: 1;
  justify-content: center;

}

.container-testimonials .right img{
  display: block; 
margin: 0px auto;

}




.container-testimonials .left .testimonialtext{
background-color: var(--dark-color);
color: #FEFEFE;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 32px;
display: flex;
padding: 3px 14px;
display: inline-block;
text-align: center;
justify-content: center;
margin-left: 16px;
margin-top: 18px;
}

.container-testimonials .left .testimonialtext span{
  font-weight: 400;
  overflow-wrap: break-word; 
}

.section.testimonials .slider-prev{
  position: absolute;
  top: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  cursor: pointer;
  left: -75px;
}

.section.testimonials .slider-next{
  position: absolute;
  top: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  cursor: pointer;
  right: -75px;
}

.slider-prev,
.slider-next {
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  outline: none; /* Remove focus outline */
  cursor: pointer; /* Add a pointer cursor for better UX */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Medium Device */
@media(max-width:1200px){
  .section.testimonials .slider-prev,
.section.testimonials .slider-next {
  position: static; 
  margin: 16px 8px; 
  display: inline-block; 
}

.section.testimonials .slidebutton {
  display: flex;
  justify-content: center; 
  margin-left: 0; 
}

}


/* Mobile Version */

@media(max-width:650px){
.container-testimonials{
  flex-direction: column; 
}

.section.testimonials .slider-prev,
.section.testimonials .slider-next {
  position: static; /* Remove absolute positioning */
  margin: 16px 8px; /* Add margin for spacing */
  display: inline-block; /* Align buttons horizontally */
}

.container-testimonials .right{
  /* width: 151px; */
  order: 1;
  display: flex;
  align-items: center;


}



.container-testimonials{
  text-align: center;
  padding: 0;
}


.container-testimonials .left{
  order: 2;
}


}
