.project-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 22px ;
  justify-content: center;
}



/* Medium Device */
@media(max-width:1000px){
  .project-container{
    grid-template-columns: 1fr 1fr;
  }
  .project-container img{
    display: block ;
    margin: 0 auto;
    width: 351px;
     }
    
     .section.projects {
      text-align: center;
     }
  }

/* Mobile version */
@media (max-width:750px){
  .project-container{
    grid-template-columns: 1fr;
  }

.project-container img{
display: block ;
margin: 0 auto;
width: 351px;
 }

 .project-container .hide{
  display: none;
 }
}


