.footer{
  background: var(--dark-color);
}

.section.footer{
  display: flex;
  justify-content: space-between;
  
}

.section.footer .right{
  display: flex;
  color: var(--light-color);
}

.section.footer .right li{
list-style: none;
color: #FEFEFE;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.section.footer .right .container{
  margin-top: 100px;
}

.section.footer .left{
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.section.footer .right h3{
color: #FEFEFE;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px;
margin-bottom: 25px;
}



.section.footer .list-container{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.section.footer .right ul{
padding: 0px;
}

.section.footer .right ul li{
font-size: 16px;
}

.section.footer .right .container .logo{
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
}

.footer p{
  color: var(--light-color);
  text-align: center;
  margin-top: 45px;
}

/* Medium Device */
@media(max-width:1000px){
.section.footer{
  flex-direction: column;
  align-items: center;

}


.section.footer .right{
margin-top: -50px;

}
.section.footer .list-container{
  gap: 50px;
}
}


/* Mobile Version */

@media(max-width: 650px) {
 .section.footer{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .section.footer .list-container{
    flex-direction: column;
    text-align: center;
    gap: 80px;
  }

  .section.footer .left{
    order: 2;
  }

  .section.footer .right .container{
    margin:0;
  }

  .section.footer .right .list-container:first-child{
    margin-top: 100px;
  }
  
  .section.footer .left{
    margin-top: 80px;
  }


}

