.hero-container{
  height:100vh ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-bg{
position: absolute;
bottom: 0;
left: 0;
z-index: -1;
width: 100%;

}


.hero-container .left p{
color: var(--dark-color);
font-family: Roboto;
font-size: 24px;
font-weight: 400;
}

.hero-container .left h1{
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 8px 0 28px 0;
}

.hero-container .left h1 span{
  color: var(--red-color);
}

.hero-container a{
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;

margin-right: 20px;
}

.hero-container .btn{
  color: var(--light-color)
}

/* .hero-container .btn.cyan{
  color: var(--dark-color);
  background-color: var(--blue-color);
} */

.hero-container .right{
  padding-right: 30px;
}



.hero-container .polygon1{
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 240px;
}

.hero-container .polygon2{
  position: absolute;
  z-index: -1;
  top: 180px;
  left: 480px;
}

.hero-container .left{
  flex: 1;
}


/* Animation */
.hero-container .left p{
  opacity: 0;
  animation: fadeIn 800ms forwards;
  animation-delay: 400ms;
}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

.hero-container .left h1{
  opacity: 0;
  animation: fadeToRight 800ms forwards;
  animation-delay: 800ms;
}

@keyframes fadeToRight{
  from{
    opacity: 0;
    transform: translateX(-100px);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-container .left .btn:nth-of-type(1){
  animation: fadeIn 1000ms forwards;
  opacity: 0;
  animation-delay: 1400ms;
}

.hero-container .left .btn:nth-of-type(2){
  animation: fadeIn 1000ms forwards;
  opacity: 0;
  animation-delay: 1600ms;
}

.hero-container .right{
  animation: fadeToLeft 1200ms forwards;
  animation-delay: 900ms;
  opacity: 0;
}

@keyframes fadeToLeft{
  from{

    transform: translateX(30px);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-container .polygon1, .hero-container .polygon2{
  opacity: 0;
  animation-name: fadeIn, rotate;
  animation-duration: 800ms, 80s;
  animation-delay: 1800ms;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in, linear;
}

@keyframes rotate{
  from {
    transform: rotate(360deg);
  }

  to{
    transform: rotate(0deg)
  }
}

/* Medium Devices */
@media(max-width:1200px){
  .hero-container .polygon1{
    left: 50px;
    top: 90px;
  }

  .hero-container .polygon2{
    left: 300px;
    top: 250px;
  }

  .hero-container .left{
    padding-left: 30px;
  }

  .hero-container .left h1{
    font-size: 30px;
  }

  .hero-container .left p{
   font-size: 18px;
   margin-bottom: 0;
  }

  .hero-container a.btn.cyan{
    margin-top: 0px;
  }

  @media(max-width:720px){
    .hero-container .right{
      display: none;
    }
  }
}

/* Mobile version */
@media(max-width:650px){
  .hero-container .right{
    display: none;
  }

  .hero-container .polygon1{
    left: 32px;
    top: 150px;
  }

  .hero-container .polygon2{
    left: 300px;
    top: 270px;
  }

  .hero-container .left{
    padding-left: 50px;
  }

  .hero-container .left h1{
    font-size: 30px;
  }

  .hero-container .left p{
   font-size: 18px;
   margin-bottom: 0;
  }
 
}

